%h1
  This is the home page.
%h3
  I can display recent blog posts here. Or maybe other stuff.

= link_to "View all posts", posts_path

- if can? :manage, Post
  %hr
  %h4
    Hello, admin user!
    .admin
      = link_to "Create new post", new_post_path
