//= require bootstrap

body {
  padding-top: 60px;
}

.success-message, .danger-message {
  //margin-top: 10px;
  //padding: 10px;
}

#new-todo {
  width: 50%;
}

#toggle-all {
  width: 60px;
  height: 34px;
  text-align: center;
  border: none;
  -webkit-appearance: none;
}

#toggle-all:before {
  content: '❯';
  font-size: 22px;
  color: #e6e6e6;
  padding: 10px 27px 10px 27px;
}
